AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__LOAD_EXAMPLES="false"
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS="true"
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-api-server:8080/execution/
AIRFLOW__API_AUTH__JWT_SECRET=local-dev-airflow-jwt-secret
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=local-dev-airflow-internal-api-secret
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL="10"
AIRFLOW__DAG_PROCESSOR__MIN_FILE_PROCESS_INTERVAL="5"
AIRFLOW__CORE__PARALLELISM=8
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=8
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG=1
AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=16
AIRFLOW__API__SECRET_KEY='secret'
AIRFLOW_AWS_CONFIG_FILE=/home/airflow/.aws/config
AIRFLOW_AWS_SHARED_CREDENTIALS_FILE=/home/airflow/.aws/credentials
SPARK_AWS_CONFIG_FILE=/home/spark/.aws/config
SPARK_AWS_SHARED_CREDENTIALS_FILE=/home/spark/.aws/credentials
AWS_PROFILE=gba-admin
S3_LANDING_ZONE_BUCKET_NAME=gba-landing-zone-prod
S3_BRONZE_ZONE_BUCKET_NAME=gba-bronze-zone-prod
S3_SILVER_ZONE_BUCKET_NAME=gba-silver-zone-prod
ATHENA_DATABASE_NAME=github_analytics
ATHENA_WORKGROUP_NAME=github-batch-analytics
ATHENA_QUERY_RESULTS_BUCKET_NAME=gba-athena-results-prod
ATHENA_REPOSITORY_TABLE_NAME=repositories
ATHENA_ORGANIZATION_TABLE_NAME=organizations
ATHENA_REPOSITORY_BUCKET_COUNT=16
ATHENA_ORGANIZATION_BUCKET_COUNT=8
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AWS_GBA_ADMIN_LOGIN=gba-admin
CANDIDATES_SIZE=25
S3_DLT_STATE_BUCKET_NAME=gba-dlt-state-prod
S3_MARTS_BUCKET_NAME=gba-marts-prod
AIRFLOW_CONN_SPARK_DEFAULT=spark://spark-master:7077?deploy-mode=client&spark_binary=spark-submit
SPARK_MASTER_URL=spark://spark-master:7077
DLT_DATA_DIR=/tmp/dlt
DLT_TELEMETRY=false
RUNTIME__DLTHUB_TELEMETRY="false"
ENABLE_RUNTIME_TRACE="false"
