AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__LOAD_EXAMPLES="false"
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS="true"
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-api-server:8080/execution/
AIRFLOW__API_AUTH__JWT_SECRET=local-dev-airflow-jwt-secret
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=local-dev-airflow-internal-api-secret
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow